.page-main {
	&__what {
		margin-top: -182px;

		padding-top: 224px;
		padding-bottom: 51px;
	}

	&__example {
		padding-top: 41px;
	    padding-bottom: 51px;
	}

	@include tablet {
		&__what {	
			margin-top: 0;

			padding-top: 86px;
			padding-bottom: 107px;
		}

		&__example {
			padding-top: 87px;
		    padding-bottom: 101px;
		}
	}

	@include desktop {
		&__example {
			padding-bottom: 102px;
		}
	}
}