// @color: #;

// width

$width-tablet:  1045px;
$width-desktop: 1300px;

// color

$main-color: #fbfbfb;
$secondary-color: #fff;
$colorful: linear-gradient(13deg, #ff8f5a 0%, #ff2f96 99%, #ff2f96 100%);
$copyColor: #31293c;

$global-txt-color: #1f1f24;
$second-txt-color: #8993ad;

$find-buttons: #ff4e2e;
$second-buttons: #f82370;
$simply-pink: #fc557c;
$button-txt: #fff;
$light-text: #fff;
$transper-txt: #f53f4f;

$colorTags: linear-gradient(to top right, #ff8a5d, #ff2f96);

// for hover

$darken-button: darken($find-buttons, 30%);
$transition: 0.2s ease-in-out;

// border

$color-border: 1px solid $second-buttons;

// background image

$image-call: url("../img/header/phone.svg");
$image-burger: url("../img/header/open-menu.svg");

$ellips: url("../img/main/fig.svg");

$icon-1: url("../img/main/01.svg");
$icon-2: url("../img/main/02.svg");
$icon-3: url("../img/main/03.svg");
$icon-4: url("../img/main/04.svg");

$arrow: url("../img/main/arrow.png");

$callBlack: url("../img/footer/phone-icon-black.svg");
$callColor: url("../img/footer/phone-icon.svg");
$mailBlack: url("../img/footer/envelope-icon-black.svg");
$mailColor: url("../img/footer/envelope-icon.svg");

$vk: url("../img/footer/vk.svg");
$facebook: url("../img/footer/facebook.svg");
$twitter: url("../img/footer/twitter.svg");
$instagram: url("../img/footer/instagram.svg");
$vk-hover: url("../img/footer/vk-hover.svg");
$facebook-hover: url("../img/footer/facebook-hover.svg");
$twitter-hover: url("../img/footer/twitter-hover.svg");
$instagram-hover: url("../img/footer/instagram-hover.svg");


// font size

$mobile-titles: 30px;
$tablet-titles: 54px;
$desk-h1: 80px;
$global-fz: 16px;

