.socials {
	display: flex;
	
	&__link {
		width: 35px;
		height: 35px;

		margin-right: 20px;
		
		background-repeat: no-repeat;
		

		&_vk {
			background-image: $vk;
			background-size: 35px;
			background-position: 0 3px;
			
			@include desktop {
				&:hover {
					background-image: $vk-hover;
				}
			}
		}
		&_facebook {
			background-image: $facebook;
			background-size: 29px;
			background-position: 4px 3px;

			@include desktop {
				&:hover {
					background-image: $facebook-hover;	
				}
			}
		}
		&_twitter {
			background-image: $twitter;
			background-size: 29px;
			background-position: 1px 5px;
			@include desktop {
				&:hover {
					background-image: $twitter-hover;
				}
			}
		}
		&_instagram {
			background-image: $instagram;
			background-size: 29px;
			background-position: 1px 5px;

			@include desktop {			
				&:hover {
					background-image: $instagram-hover;
				}
			}
		}
	}
}